header, nav, main {
    max-width: 960px;
    margin: auto;
}

/* NAVIGATION STUFF GOES HERE  */
.photo {
    section {
        grid-template-columns: 200px auto;
        column-gap: 8px;
    }//section
  } //end photo

  .pngs {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }