/* NAVIGATION STUFF GOES HERE  */
#theButton {
    display: none;
}

#theNav{
    background-color: $accentColor;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 0;
    position: relative;
    li{
        border-right: 1px solid rgba(0,0,0,.2);
    }
    li a {
        padding: .9rem 1.2rem;
        display: block;
        color: #fff;
        text-decoration: none;
    }
    li a:hover {
        background-color: rgba(0,0,0,.3);
    }
    li.parent > a::before {
        content: "\25bc";
        font-size: .65rem;
        color: rgba(255,255,255,.5);
    }
    li.active a {
        background-color: $secondaryColor;
    }
    li ul {
        background-color: $primaryColor;
        list-style-type: none;
        padding: 0;
        position: absolute;
        left: -999rem;
    }
    li ul li {
        border-top: solid 1px rgba(0,0,0,0.5);
    }
    li:hover ul {
        left: auto;
        z-index: 100;
    }
}


.photo {
 
    section {
        display: grid;
        grid-template-columns: 140px auto;
        padding:10px;
        column-gap: 4px;
        
    }//section
  } //end photo


  .pngs {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }