
#theButton {
    border: none;
    background: none;
    font-size: 2rem;
    padding: 0;
    width: 44px;
    height:44px;
    cursor: pointer;

    &::before {
        content: "\2630";
    }
}//end of the button

#theButton.open::before {
    content: "\2715";
    font-size: 1.6rem;
}//end open button?

/* -------------Nav Bar ---------------------- */
 
#theNav {
    background-color: $accentColor;
    height: 0;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 100;


li a {
    display: block;
    padding: .75rem 2vw;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, .2);
}
li.active{
    background-color: $secondaryColor;
}
li.a:hover {
    background-color: rgba(0, 0, 0, .3);
}

&.open {
    height: auto;
}


}//end theNav

.parent>a::after {
    content: "\25bc";
    font-size: .75rem;
    color: rgba(255, 255, 255, .5);
    float: right;
}

.parent ul {
    list-style-type: none;
    padding: 0;
    background-color: $primaryColor;
    display: none;
}

.parent:hover ul {
    display: block;
}





