$primaryColor: #640D5F; 
$secondaryColor: #1F509A;
$accentColor: #976500;
$greyColor: #ccc;

$defaultFont:'Spline Sans', sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;